
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}   

body {
    background-color: #000;
    color: #fff;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 300px;
    background-color: #121212;
    padding: 10px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
}

.nav-logo i {
    font-size: 24px;
}

.nav-library{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-library i, .nav-library p {
    color: #b7b3b6;
    font-size: 14px;
    cursor: pointer;
}

.nav-playlist, .nav-podcast {
    background-color: #242424;
    padding: 16px;
    border-radius: 8px;
}

.nav-playlist button, .nav-podcast button {
    background-color: #b7b3b6;
    color: #000;
    border: none;
    padding: 8px 10px;
    margin-top: 16px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 20px;
}

.nav-playlist p, .nav-podcast p {
    font-size: 12px;
}

.nav-playlist:hover button {
    opacity: 0.5;
}

.nav-playlist:active button {
    opacity: 0.9;
}

.nav-podcast:hover button {
    opacity: 0.5;
}

.nav-podcast:active button {
    opacity: 0.9;
}


.nav-footer {
    margin-top: auto;
    
}



.nav-footer a {
    color: #a7a7a7;
    text-decoration: none;
    font-size: 12px;
    margin-right: 12px;
    margin-bottom: 8px;
}

.nav-lang-button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 8px 12px;
    margin-top: 16px;
    cursor: pointer;
    border-radius: 20px;
}

main {
    padding: 24px;
    flex-grow: 2;
    overflow-y: auto;
    
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #242424;
    padding: 8px 16px;
    border-radius: 20px;
    width: 300px;
}

.search-bar input {
    background-color: transparent;
    border: none;
    color: #fff;
    width: 100%;
    margin-left: 10px;
    outline: none;
}


   .style-artist, .style-album{
    display: flex;
    gap: 10px;
    
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.5s;
}


    


.style-artist img, .style-album img {
    width: 100px;
    max-height: 70%;
    border-radius: 50%;
    margin-bottom: 16px;
}

.style-artist h1, .style-album h1{
    font-size: 12px;
}

.style-artist p, .style-album p {
    font-size: 12px;
    color: #b7b3b6;
}

.content {
    margin-top: 8px;
}

.content h2 {
    margin-bottom: 10px;
}

.banner{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(90deg, #af2896, #509bf5);
    justify-content: space-between;
    align-items: center;
    padding: 6px 12px;
    height: 5x;
}

.banner h2 {
    font-size: 14px;

}

.banner p {
    font-size: 10px;

}

.banner button {
    border-radius: 20px;
    color: #000;
    border: none;
    padding: 4px 8px;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 10px;
}

.banner:hover button {
    opacity: 0.5;
}

.banner:active button {
    opacity: 0.9;
}

.artist-1:hover {
    display: inline-block;
    overflow: hidden;
    width: 100px;
    transition: transform 0.3s;
    transform: translateY(-10px);
}

.artist-2:hover {
    display: inline-block;
    overflow: hidden;
    width: 100px;
    transition: transform 0.3s;
    transform: translateY(-10px);
}

.artist-3:hover {
    display: inline-block;
    overflow: hidden;
    width: 100px;
    transition: transform 0.3s;
    transform: translateY(-10px);
}

.artist-4:hover {
    display: inline-block;
    overflow: hidden;
    width: 100px;
    transition: transform 0.3s;
    transform: translateY(-10px);
}

.artist-5:hover {
    display: inline-block;
    overflow: hidden;
    width: 100px;
    transition: transform 0.3s;
    transform: translateY(-10px);
}

.artist-6:hover {
    display: inline-block;
    overflow: hidden;
    width: 100px;
    transition: transform 0.3s;
    transform: translateY(-10px);
}

.artist-7:hover {
    display: inline-block;
    overflow: hidden;
    width: 100px;
    transition: transform 0.3s;
    transform: translateY(-10px);
}

.artist-8:hover {
    display: inline-block;
    overflow: hidden;
    width: 100px;
    transition: transform 0.3s;
    transform: translateY(-10px);
}

.artist-9:hover {
    display: inline-block;
    overflow: hidden;
    width: 100px;
    transition: transform 0.3s;
    transform: translateY(-10px);
}



.album-1:hover {
    display: inline-block;
    overflow: hidden;
    width: 100px;
    transition: transform 0.3s;
    transform: translateY(-10px);
}

.album-2:hover {
    display: inline-block;
    overflow: hidden;
    width: 100px;
    transition: transform 0.3s;
    transform: translateY(-10px);
}

.album-3:hover {
    display: inline-block;
    overflow: hidden;
    width: 100px;
    transition: transform 0.3s;
    transform: translateY(-10px);
}

.album-4:hover {
    display: inline-block;
    overflow: hidden;
    width: 100px;
    transition: transform 0.3s;
    transform: translateY(-10px);
}

.album-5:hover {
    display: inline-block;
    overflow: hidden;
    width: 100px;
    transition: transform 0.3s;
    transform: translateY(-10px);
}

.album-6:hover {
    display: inline-block;
    overflow: hidden;
    width: 100px;
    transition: transform 0.3s;
    transform: translateY(-10px);
}

.album-7:hover {
    display: inline-block;
    overflow: hidden;
    width: 100px;
    transition: transform 0.3s;
    transform: translateY(-10px);
}

.album-8:hover {
    display: inline-block;
    overflow: hidden;
    width: 100px;
    transition: transform 0.3s;
    transform: translateY(-10px);
}

.album-9:hover {
    display: inline-block;
    overflow: hidden;
    width: 100px;
    transition: transform 0.3s;
    transform: translateY(-10px);
}

@media screen and (max-width: 700px) {

    .nav-logo {
        font-size: 15px;
    }

    .nav-library p {
        font-size: 10px;
    }

    .nav-playlist {
        padding: 6px;
        border-radius: 8px;
    }

    .nav-playlist h5 {
        font-size: 10px;
    }

    .nav-playlist p {
        font-size: 8px;
    }

    .nav-playlist button {
        font-size: 8px;
        padding: 5px 2px;
        margin-top: 5px;
    }

    .nav-podcast {

        padding: 8px;
        border-radius: 8px;
    }

    .nav-podcast h5 {
        font-size: 10px;
    }

    .nav-podcast p {
        font-size: 8px;
    }

    .nav-podcast button {
        padding: 5px 2px;
        margin-top: 5px;
        font-size: 8px;
    }

    .nav-footer a {
       font-size: 8px;
    }

    .nav-footer button {

    padding: 1px 10px;
    margin-top: 1px;
    }

    .search-bar {
        padding: 2px;
        width: 200px;
    }
   
   .search-bar input {
    font-size: 10px;
   }
   
   .content h2 {
    font-size: 12px;
   }

   .style-artist {
    padding: 10px;
   }

  .style-artist img {
    width: 50px;
   }


   .style-album img {
    width: 50px;
   }

   .banner {
    padding: 11px 3px;
   }


   .banner h2 {

    font-size: 14px;
   }

   .banner p {
    font-size: 12px;
   }

   .banner button {
    padding: 4px 12px;
    top: 5px;
    right: 4px;
    font-size: 10px;
   }


}

    








